@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.header-c{
	background:#ccc;
	
}
.footer-c{
	background:#ccc;
	
}


/* INDEX */
.show-index{
	height:50vh;
	background:#ccc4;
}
